body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

h1, h2 {
    color: #780404;
}

section {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}
